<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.newbugger.android.blocker">

    <uses-permission-sdk-23 android:name="moe.shizuku.manager.permission.API_V23" />
    <uses-permission-sdk-23 android:name="moe.shizuku.manager.permission.EXEC_COMMAND" />

    <application
        android:name=".BlockerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.component.ComponentActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:theme="@style/AppTheme.PlayStoreStyle"
            android:launchMode="singleTask"
            android:label="@string/title_activity_settings" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="io.github.newbugger.android.blocker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <provider
            android:name="moe.shizuku.api.ShizukuBinderReceiveProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <receiver android:name=".ui.component.ShizukuBinderReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":ShizukuBinderReceiver">
            <intent-filter>
                <action android:name="io.github.newbugger.android.blocker.ShizukuBinder"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
